/*
 *Name: Smirthi Anand
 *UnityID: sanandk
 *Date: 04.06.23
 *Assignment: Webpages GL
  *Description: Assignment 5
 */
 
p {
   font-family: Times ;
   font-size: 16px;
   color: #FFFFFF; 
   }

.class {
   border: 1px solid #FFFFFF; 
}

#photo-resize {
    max-width: 250px ;
    max-height: 300px ;
}
